.row
  .col-md-12.text-center.bg-dark.text-white.p10.p-3
    %h4 Class Scheduling
  .col-md-12.pt-5.text-center
    %a.btn.btn-info.p-3.w-25{href: new_invigilator_path}
      Add Invigilator
    %a.btn.btn-info.p-3.w-25{href: new_uploaded_file_path}
      Add Files

.row
  .col-md-5.mt-5.border.pr-0.ml-auto.pl-0
    %h3.text-center.pt-4.pb-2 Uploaded files
    %table.table.table-striped.mb-0
      %thead
        %tr
          %th{:scope => "col"} File Name
          %th{:scope => "col"} Created At
          %th{:scope => "col"} Actions
      %tbody
        - if UploadedFile.all.present? 
          - UploadedFile.all.each do |uploaded_file|
            %tr
              %td= uploaded_file.file_name
              %td= uploaded_file.created_at.strftime('%m/%d/%y %I:%M')
              %td
                = link_to 'View', uploaded_file
                = link_to 'Schedule', schedule_slots_uploaded_file_path(uploaded_file)
                = link_to 'Destroy', uploaded_file, method: :delete, data: { confirm: 'Are you sure?' }
        -else
          %tr
            %td.text-center{colspan: 3}= "No files added"
  .col-md-5.mt-5.border.pr-0.pl-0.ml-5.mr-auto
    %h3.text-center.pt-4.pb-2 Invigilator Details
    %table.table.table-striped.mb-0
      %thead
        %tr
          %th{:scope => "col"} Name 
          %th{:scope => "col"} Type
          %th{:scope => "col"} Actions
      %tbody
        - if Invigilator.all.present?
          - Invigilator.all.each do |inv|
            %tr
              %td= inv.name
              %td= inv.invigilator_type.try(:titleize)
              %td
                = link_to 'Destroy', inv, method: :delete, data: { confirm: 'Are you sure?' }
        -else
          %tr
            %td.text-center{colspan: 3}= "No invigilator added"