<p id="notice"><%= notice %></p>

<h1>Invigilators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invigilators.each do |invigilator| %>
      <tr>
        <td><%= invigilator.name %></td>
        <td><%= link_to 'Show', invigilator %></td>
        <td><%= link_to 'Edit', edit_invigilator_path(invigilator) %></td>
        <td><%= link_to 'Destroy', invigilator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invigilator', new_invigilator_path %>
